
// colors

$white: #fff;
$beige: #b28f7f;
$orange: #e25b1d;
$gray: #3e4b3c;
// fonts

// font-weight
$ExtralightFont: 200;
$lightFont: 300;
$regularFont: 400;
$regularMedium: 500;
$semiBoldFont: 600;
$boldFont: 700;
$extraBoldFont: 900;